.wrapper {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}
:root {
  font-family: "Karla", sans-serif;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}
main img {
  border-radius: 50%;
}
.content-container > p {
  /* Selector del primer hijo */
  font-size: 18px;
  margin-bottom: 32px;
}
a p {
  font-size: 24px;
}

a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: rgb(57, 224, 155);
  padding: 16px 66px;
  margin-bottom: 16px;
  border: 2px solid rgb(57, 224, 155);
}
@media screen and (min-width: 980px) {
}
